<template>
  <div
    class="loaded-color-picker"
    v-show="isOpen"
    :style="{width: totalWidth + 'px'}"
  >
    <div class="color-set">
      <div
        ref="saturation"
        class="saturation"
        @mousedown="selectSaturation"
      >
        <canvas ref="canvasSaturation" />
        <div
          :style="slideSaturationStyle"
          class="slide"
        />
      </div>
      <div
        ref="hue"
        class="hue"
        @mousedown="selectHue"
      >
        <canvas ref="canvasHue" />
        <div
          :style="slideHueStyle"
          class="slide"
        />
      </div>
      <div
        ref="alpha"
        class="alpha"
        @mousedown="selectAlpha"
      >
        <canvas ref="canvasAlpha" />
        <div
          :style="slideAlphaStyle"
          class="slide"
        />
      </div>
    </div>
    <div
      :style="{height: selectedColorHeight + 'px'}"
      class="color-show"
    >
      <div class="show">
        <canvas ref="canvasColor" />
        <div
          :style="{background: rgba.toRgbaString()}"
          class="color"
        />
      </div>
    </div>
  <div class="color-type">
    <div class="name">HEX</div>
    <input
      v-model="modelHex"
      :style="{width: totalWidth - 60 + 'px'}"
      class="value"
      @input="inputColor"
    >
  </div>
  <div class="color-type">
    <div class="name">RGBA</div>
    <input
      v-model="modelRgba"
      :style="{width: totalWidth - 60 + 'px'}"
      class="value"
      @input="inputColor"
    >
  </div>
  <ul class="colors">
    <li
      v-for="item in colorsDefault"
      :key="item"
      class="item"
      @click="selectColor(item)"
    >
      <div
        :style="{background: `url(${imgAlphaBase64})`}"
        class="alpha"
      />
      <div
        :style="{background: item}"
        class="color"
      />
    </li>
  </ul>
  <ul
    v-if="colorsHistory.length"
    class="colors history"
  >
    <li
      v-for="item in colorsHistory"
      :key="item"
      class="item"
      @click="selectColor(item)"
    >
      <div
        :style="{background: `url(${imgAlphaBase64})`}"
        class="alpha"
      />
      <div
        :style="{background: item}"
        class="color"
      />
    </li>
  </ul>
  <ul class="selection">
    <li class="item item-one">
      <button
        class="btn-selection btn-swatches"
        v-on:click="isOpen = false;"
      ><svg
          viewBox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
          width="12px"
        >
          <g fill="#24c7c4">
            <path
              d="m436.652344 328.027344 65.109375-37.589844-91.988281-159.328125-70.933594 40.957031 41.199218-71.367187-159.324218-91.984375-36.742188 63.640625v-72.355469h-183.972656v420.015625c0 50.71875 41.265625 91.984375 91.984375 91.984375h420.015625v-183.972656zm24.128906-48.570313-84.128906 48.570313h-247.945313l270.085938-155.9375zm-229.085938-229.761719 107.363282 61.988282-52.183594 90.382812-214.726562 123.972656zm-77.722656-19.695312v94.316406l-123.972656 214.726563v-309.042969zm-123.972656 390.015625c0-34.179687 27.808594-61.988281 61.984375-61.988281h61.988281v123.972656h-61.988281c-34.175781 0-61.984375-27.808594-61.984375-61.984375zm452 61.984375h-298.027344v-123.972656h298.027344zm0 0"
            />
            <path
              d="m91.984375 382.898438c-20.464844 0-37.113281 16.648437-37.113281 37.113281 0 20.46875 16.648437 37.117187 37.113281 37.117187 20.46875 0 37.117187-16.648437 37.117187-37.117187 0-20.464844-16.648437-37.113281-37.117187-37.113281zm0 44.230468c-3.921875 0-7.113281-3.191406-7.113281-7.113281 0-3.925781 3.191406-7.117187 7.113281-7.117187 3.925781 0 7.117187 3.191406 7.117187 7.117187 0 3.921875-3.191406 7.113281-7.117187 7.113281zm0 0"
            />
          </g>
        </svg>
      </button>
    </li>
    <li class="item item-two">
      <button
        class="btn-selection btn-cancel"
        v-on:click="isOpen = false;"
      >Cancel</button>
    </li>
    <li class="item item-three">
      <button
        class="btn-selection btn-save-color"
        v-on:click="selectColor(item)"
      >Save&nbsp;&nbsp;&#x2713;</button>
    </li>
  </ul>
  <swatches v-model="color"></swatches>
  </div>
</template>
<script>
import imgSucker from "../img/sucker.png";
import Swatches from "vue-swatches";
import "vue-swatches/dist/vue-swatches.min.css";
export default {
  components: {
    Swatches
  },
  props: {
    color: {
      type: String,
      default: "#1fbc9c"
    },
    theme: {
      type: String,
      default: "light"
    },
    suckerHide: {
      type: Boolean,
      default: true
    },
    suckerCanvas: {
      type: null,
      default: null
    },
    suckerArea: {
      type: Array,
      default: () => []
    },
    colorsDefault: {
      type: Array,
      default: () => [ "#000000", "#FFFFFF", "#FF1900", "#F47365", "#FFB243", "#FFE623", "#6EFF2A", "#1BC7B1",
        "#00BEFF", "#2E81FF", "#5D61FF", "#FF89CF", "#FC3CAD", "#BF3DCE", "#8E00A7", "rgba(0,0,0,0)"
      ]
    },
    colorsHistoryKey: {
      type: String,
      default: "vue-colorpicker-history"
    }
  },
  data() {
    return {
      isOpen: false,
      slideSaturationStyle: {},
      slideHueStyle: {},
      slideAlphaStyle: {},
      hueWidth: 15,
      hueHeight: 152,
      alphaSize: 5,
      selectedColorHeight: 30,
      isOpenSucker: false,
      suckerPreview: null,
      isSucking: false,
      imgAlphaBase64: "",
      modelRgba: "",
      modelHex: "",
      r: 0,
      g: 0,
      b: 0,
      a: 1,
      h: 0,
      s: 0,
      v: 0,
      colorsHistory: JSON.parse( localStorage.getItem( this.colorsHistoryKey ) ) || [],
      colorSelected: ""
    };
  },
  computed: {
    totalWidth() {
      return this.hueHeight + ( this.hueWidth + 8 ) * 2;
    },
    rgba() {
      return {
        r: this.r,
        g: this.g,
        b: this.b,
        a: this.a,
        toRgbString: () => `rgb(${[this.r, this.g, this.b].join(",")})`,
        toRgbaStringShort: () => `${[this.r, this.g, this.b, this.a].join(",")}`,
        toRgbaString: () => `rgba(${this.rgba.toRgbaStringShort()})`,
        toHexString: () => this.rgb2hex( this.rgba, true )
      };
    },
    hsv() {
      return {
        h: this.h,
        s: this.s,
        v: this.v
      };
    }
  },
  watch: {
    rgba() {
      this.$emit( "changeColor", {
        rgba: this.rgba,
        hsv: this.hsv
      } );
    },
    suckerCanvas( newVal ) {
      this.isSucking = false
      this.suckColor( newVal )
      newVal.style.cursor = `url(${imgSucker}) 0 32, default`
    }
  },
  created() {
    this.setColorValue( this.color );
    this.setColorPos();
    this.modelHex = this.rgba.toHexString();
    this.modelRgba = this.rgba.toRgbaStringShort();
    this.imgAlphaBase64 = this.createAlphaSquare( 4 )
      .toDataURL();
  },
  mounted() {
    this.isOpen = true;
    this.renderHue( this.$refs.canvasHue, this.hueWidth, this.hueHeight );
    this.renderSaturation( this.$refs.canvasSaturation, this.rgba.toRgbString(), this.hueHeight );
    this.renderAlpha( this.$refs.canvasAlpha, this.hueWidth, this.hueHeight, this.alphaSize, this.rgba.toRgbString() );
    this.renderColor( this.$refs.canvasColor, this.totalWidth - this.selectedColorHeight, this.selectedColorHeight, this
      .alphaSize );
  },
  destroyed() {
    this.setcolorsHistory( this.colorSelected );
  },
  methods: {
    keydownHandler( e ) {
      if ( e.keyCode === 27 ) { // esc
        this.isOpenSucker = !this.isOpenSucker
        this.isSucking = false
        this.$emit( 'openSucker', this.isOpenSucker )
        document.removeEventListener( 'keydown', this.keydownHandler )
        document.removeEventListener( 'mousemove', this.mousemoveHandler )
        document.removeEventListener( 'mouseup', this.mousemoveHandler )
        if ( this.suckerPreview ) {
          document.body.removeChild( this.suckerPreview )
          this.suckerPreview = null
        }
      }
    },
    mousemoveHandler( e ) {
      const {
        clientX,
        clientY
      } = e
      const {
        top: domTop,
        left: domLeft,
        width,
        height
      } = this.suckerCanvas.getBoundingClientRect()
      const x = clientX - domLeft
      const y = clientY - domTop
      const ctx = this.suckerCanvas.getContext( '2d' )
      const imgData = ctx.getImageData( Math.min( x, width - 1 ), Math.min( y, height - 1 ), 1, 1 )
      let [ r, g, b, a ] = imgData.data
      a = parseFloat( ( a / 255 )
        .toFixed( 2 ) )
      const style = this.suckerPreview.style
      Object.assign( style, {
        position: 'absolute',
        left: clientX + 20 + 'px',
        top: clientY - 36 + 'px',
        width: '24px',
        height: '24px',
        borderRadius: '50%',
        border: '2px solid #fff',
        boxShadow: '0 0 8px 0 rgba(0, 0, 0, 0.16)',
        background: `rgba(${[r, g, b, a].join(',')})`,
        zIndex: 95
      } )
      if ( clientX >= this.suckerArea[ 0 ] && clientY >= this.suckerArea[ 1 ] && clientX <= this.suckerArea[ 2 ] &&
        clientY <= this.suckerArea[ 3 ] ) {
        style.display = ''
      }
      else {
        style.display = 'none'
      }
    },
    openSucker() {
      this.keydownHandler( {
        keyCode: 27
      } )
      if ( this.isOpenSucker ) {
        this.isSucking = true
        document.addEventListener( 'keydown', this.keydownHandler )
      }
    },
    inputColor( e ) {
      this.setColorValue( e.target.value );
      this.setColorPos();
      this.renderSaturation( this.$refs.canvasSaturation, this.rgba.toRgbString(), this.hueHeight );
      this.renderAlpha( this.$refs.canvasAlpha, this.hueWidth, this.hueHeight, this.alphaSize, this.rgba
        .toRgbString() );
      this.colorSelected = this.rgba.toRgbaString();
    },
    setcolorsHistory( color ) {
      if ( !color ) {
        return;
      }
      const colors = this.colorsHistory;
      const index = colors.indexOf( color );
      if ( index >= 0 ) {
        colors.splice( index, 1 );
      }
      if ( colors.length >= 8 ) {
        colors.length = 7;
      }
      colors.unshift( color );
      this.colorsHistory = colors;
      localStorage.setItem( this.colorsHistoryKey, JSON.stringify( colors ) );
    },
    setColorValue( color ) {
      let rgba = {
        r: 0,
        g: 0,
        b: 0,
        a: 1
      };
      if ( /#/.test( color ) ) {
        rgba = this.hex2rgba( color );
      }
      else if ( /rgb/.test( color ) ) {
        rgba = this.rgb2rgba( color );
      }
      else if ( Object.prototype.toString.call( color ) === "[object Object]" ) {
        rgba = color;
      }
      const {
        r,
        g,
        b,
        a
      } = rgba;
      this.r = r;
      this.g = g;
      this.b = b;
      this.a = a || a === 0 ? a : 1;
      const {
        h,
        s,
        v
      } = this.rgb2hsv( this.rgba );
      this.h = h;
      this.s = s;
      this.v = v;
    },
    setColorPos() {
      this.slideSaturationStyle = {
        left: this.s * this.hueHeight - 5 + "px",
        top: ( 1 - this.v ) * this.hueHeight - 5 + "px"
      };
      this.slideHueStyle = {
        top: ( 1 - this.h / 360 ) * this.hueHeight - 2 + "px"
      };
      this.slideAlphaStyle = {
        top: this.a * this.hueHeight - 2 + "px"
      };
    },
    selectColor( color ) {
      this.setColorValue( color );
      this.setColorPos();
      this.renderSaturation( this.$refs.canvasSaturation, this.rgba.toRgbString(), this.hueHeight );
      this.renderAlpha( this.$refs.canvasAlpha, this.hueWidth, this.hueHeight, this.alphaSize, this.rgba
        .toRgbString() );
      this.modelHex = this.rgba.toHexString();
      this.modelRgba = this.rgba.toRgbaStringShort();
      this.colorSelected = this.rgba.toRgbaString();
      this.isOpen = false;
    },
    hideColorPicker() {
      console.log( "hideColorPicker" );
    },
    selectSaturation( e ) {
      e.preventDefault();
      e.stopPropagation();
      const {
        top: saturationTop,
        left: saturationLeft
      } = this.$refs.saturation.getBoundingClientRect();
      const ctx = e.target.getContext( '2d' );
      const mousemove = e => {
        let x = e.clientX - saturationLeft;
        let y = e.clientY - saturationTop;
        if ( x < 0 ) {
          x = 0;
        }
        if ( y < 0 ) {
          y = 0;
        }
        if ( x > this.hueHeight ) {
          x = this.hueHeight;
        }
        if ( y > this.hueHeight ) {
          y = this.hueHeight;
        }
        this.slideSaturationStyle = {
          left: x - 5 + "px",
          top: y - 5 + "px"
        };
        const imgData = ctx.getImageData( Math.min( x, this.hueHeight - 1 ), Math.min( y, this.hueHeight - 1 ), 1,
          1 );
        const [ r, g, b ] = imgData.data;
        this.setColorValue( {
          r,
          g,
          b
        } );
        this.renderAlpha( this.$refs.canvasAlpha, this.hueWidth, this.hueHeight, this.alphaSize, this.rgba
          .toRgbString() );
        this.modelHex = this.rgba.toHexString();
        this.modelRgba = this.rgba.toRgbaStringShort();
      };
      mousemove( e );
      const mouseup = () => {
        document.removeEventListener( "mousemove", mousemove );
        document.removeEventListener( "mouseup", mouseup );
        this.colorSelected = this.rgba.toRgbaString();
      };
      document.addEventListener( "mousemove", mousemove );
      document.addEventListener( "mouseup", mouseup );
    },
    selectHue( e ) {
      e.preventDefault();
      e.stopPropagation();
      const {
        top: hueTop
      } = this.$refs.hue.getBoundingClientRect();
      var ctx = e.target.getContext( '2d' );
      const mousemove = e => {
        let y = e.clientY - hueTop;
        if ( y < 0 ) {
          y = 0;
        }
        if ( y > this.hueHeight ) {
          y = this.hueHeight;
        }
        this.slideHueStyle = {
          top: y - 2 + "px"
        };
        this.slideSaturationStyle = {
          left: this.hueHeight - 5 + "px",
          top: 0 - 5 + "px"
        };
        const imgData = ctx.getImageData( 0, Math.min( y, this.hueHeight - 1 ), 1, 1 );
        const [ r, g, b ] = imgData.data;
        this.setColorValue( {
          r,
          g,
          b
        } );
        this.renderSaturation( this.$refs.canvasSaturation, this.rgba.toRgbString(), this.hueHeight );
        this.renderAlpha( this.$refs.canvasAlpha, this.hueWidth, this.hueHeight, this.alphaSize, this.rgba
          .toRgbString() );
        this.modelHex = this.rgba.toHexString();
        this.modelRgba = this.rgba.toRgbaStringShort();
        this.colorSelected = this.rgba.toRgbaString();
      };
      mousemove( e );
      const mouseup = () => {
        document.removeEventListener( "mousemove", mousemove );
        document.removeEventListener( "mouseup", mouseup );
      };
      document.addEventListener( "mousemove", mousemove );
      document.addEventListener( "mouseup", mouseup );
    },
    selectAlpha( e ) {
      e.preventDefault();
      e.stopPropagation();
      const {
        top: hueTop
      } = this.$refs.alpha.getBoundingClientRect();
      const mousemove = e => {
        let y = e.clientY - hueTop;
        if ( y < 0 ) {
          y = 0;
        }
        if ( y > this.hueHeight ) {
          y = this.hueHeight;
        }
        this.slideAlphaStyle = {
          top: y - 2 + "px"
        };
        this.a = parseFloat( ( y / this.hueHeight )
          .toFixed( 2 ) );
        this.modelHex = this.rgba.toHexString();
        this.modelRgba = this.rgba.toRgbaStringShort();
        this.colorSelected = this.rgba.toRgbaString();
      };
      mousemove( e );
      const mouseup = () => {
        document.removeEventListener( "mousemove", mousemove );
        document.removeEventListener( "mouseup", mouseup );
      };
      document.addEventListener( "mousemove", mousemove );
      document.addEventListener( "mouseup", mouseup );
    },
    suckColor( dom ) {
      if ( dom && dom.tagName !== "CANVAS" ) {
        return;
      }
      this.suckerPreview = document.createElement( "div" );
      document.body.appendChild( this.suckerPreview );
      document.addEventListener( "mousemove", this.mousemoveHandler );
      document.addEventListener( "mouseup", this.mousemoveHandler );
      dom.addEventListener( "click", e => {
        const {
          clientX,
          clientY
        } = e;
        const {
          top,
          left,
          width,
          height
        } = dom.getBoundingClientRect();
        const x = clientX - left;
        const y = clientY - top;
        const ctx = dom.getContext( "2d" );
        const imgData = ctx.getImageData( Math.min( x, width - 1 ), Math.min( y, height - 1 ), 1, 1 );
        let [ r, g, b, a ] = imgData.data;
        a = parseFloat( ( a / 255 )
          .toFixed( 2 ) );
        this.setColorValue( {
          r,
          g,
          b,
          a
        } );
        this.setColorPos();
        this.renderSaturation( this.$refs.canvasSaturation, this.rgba.toRgbString(), this.hueHeight );
        this.renderAlpha( this.$refs.canvasAlpha, this.hueWidth, this.hueHeight, this.alphaSize, this.rgba
          .toRgbString() );
        this.modelHex = this.rgba.toHexString();
        this.modelRgba = this.rgba.toRgbaStringShort();
        this.colorSelected = this.rgba.toRgbaString();
      } );
    },
    renderSaturation( canvas, color, size ) {
      const ctx = canvas.getContext( "2d" );
      canvas.width = size;
      canvas.height = size;
      ctx.fillStyle = color;
      ctx.fillRect( 0, 0, size, size );
      this.createLinearGradient( "l", ctx, size, size, "#FFFFFF", "rgba(255,255,255,0)" );
      this.createLinearGradient( "p", ctx, size, size, "rgba(0,0,0,0)", "#000000" );
    },
    renderHue( canvas, width, height ) {
      const ctx = canvas.getContext( "2d" );
      canvas.width = width;
      canvas.height = height;
      const gradient = ctx.createLinearGradient( 0, 0, 0, height );
      gradient.addColorStop( 0, "#FF0000" )
      gradient.addColorStop( 0.17 * 1, "#FF00FF" );
      gradient.addColorStop( 0.17 * 2, "#0000FF" );
      gradient.addColorStop( 0.17 * 3, "#00FFFF" );
      gradient.addColorStop( 0.17 * 4, "#00FF00" );
      gradient.addColorStop( 0.17 * 5, "#FFFF00" );
      gradient.addColorStop( 1, "#FF0000" );
      ctx.fillStyle = gradient;
      ctx.fillRect( 0, 0, width, height );
    },
    renderAlpha( canvas, width, height, size, color ) {
      const canvasSquare = this.createAlphaSquare( size );
      const ctx = canvas.getContext( "2d" );
      canvas.width = width;
      canvas.height = height;
      ctx.fillStyle = ctx.createPattern( canvasSquare, "repeat" );
      ctx.fillRect( 0, 0, width, height );
      this.createLinearGradient( "p", ctx, width, height, "rgba(255,255,255,0)", color );
    },
    renderColor( canvas, width, height, size ) {
      const canvasSquare = this.createAlphaSquare( size );
      const ctx = canvas.getContext( "2d" );
      canvas.width = width;
      canvas.height = height;
      ctx.fillStyle = ctx.createPattern( canvasSquare, "repeat" );
      ctx.fillRect( 0, 0, width, height );
    },
    createAlphaSquare( size ) {
      const canvas = document.createElement( "canvas" );
      const ctx = canvas.getContext( "2d" );
      const doubleSize = size * 2;
      canvas.width = doubleSize;
      canvas.height = doubleSize;
      ctx.fillStyle = "#ffffff";
      ctx.fillRect( 0, 0, doubleSize, doubleSize );
      ctx.fillStyle = "#ccd5db";
      ctx.fillRect( 0, 0, size, size );
      ctx.fillRect( size, size, size, size );
      return canvas;
    },
    createLinearGradient( direction, ctx, width, height, color1, color2 ) {
      const isL = direction === "l";
      const gradient = ctx.createLinearGradient( 0, 0, isL ? width : 0, isL ? 0 : height );
      gradient.addColorStop( 0.01, color1 );
      gradient.addColorStop( 0.99, color2 );
      ctx.fillStyle = gradient;
      ctx.fillRect( 0, 0, width, height );
    },
    rgb2hex( {
      r,
      g,
      b
    }, toUpper ) {
      const change = val => ( "0" + Number( val )
          .toString( 16 ) )
        .slice( -2 );
      const color = `#${change(r)}${change(g)}${change(b)}`;
      return toUpper ? color.toUpperCase() : color;
    },
    hex2rgba( hex ) {
      hex = hex.slice( 1 );
      const change = val => parseInt( val, 16 ) || 0;
      return {
        r: change( hex.slice( 0, 2 ) ),
        g: change( hex.slice( 2, 4 ) ),
        b: change( hex.slice( 4, 6 ) ),
        a: 1
      };
    },
    rgb2rgba( rgba ) {
      if ( typeof rgba === "string" ) {
        rgba = ( /rgba?\((.*?)\)/.exec( rgba ) || [ "", "0,0,0,1" ] )[ 1 ].split( "," );
        return {
          r: Number( rgba[ 0 ] ) || 0,
          g: Number( rgba[ 1 ] ) || 0,
          b: Number( rgba[ 2 ] ) || 0,
          a: Number( rgba[ 3 ] ? rgba[ 3 ] : 1 )
        };
      }
      else {
        return rgba;
      }
    },
    rgb2hsv( {
      r,
      g,
      b
    } ) {
      r = r / 255;
      g = g / 255;
      b = b / 255;
      const max = Math.max( r, g, b );
      const min = Math.min( r, g, b );
      const delta = max - min;
      let h = 0;
      if ( max === min ) {
        h = 0;
      }
      else if ( max === r ) {
        if ( g >= b ) {
          h = ( 60 * ( g - b ) ) / delta;
        }
        else {
          h = ( 60 * ( g - b ) ) / delta + 360;
        }
      }
      else if ( max === g ) {
        h = ( 60 * ( b - r ) ) / delta + 120;
      }
      else if ( max === b ) {
        h = ( 60 * ( r - g ) ) / delta + 240;
      }
      h = Math.floor( h );
      let s = parseFloat( ( max === 0 ? 0 : 1 - min / max )
        .toFixed( 2 ) );
      let v = parseFloat( max.toFixed( 2 ) );
      return {
        h,
        s,
        v
      };
    }
  }
};
</script>

<style lang="scss">
.loaded-color-picker {
  padding: 8px;
  background: #f9fafb;
  z-index: 1;

  input {
    &:focus-within {
      outline-color: rgba(36, 199, 196, 0.48);
      outline-width: 2px;
      outline-style: solid;
    }
  }

  .value::selection,
  input::selection {
    background: #24c7c4 !important;
    color: #fff !important;
  }

  canvas {
    vertical-align: top;
  }

  .color-set {
    display: flex;

    .saturation {
      position: relative;
      cursor: pointer;

      .slide {
        position: absolute;
        left: 100px;
        top: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #fff;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
        pointer-events: none;
      }
    }

    .hue {
      position: relative;
      margin-left: 8px;
      cursor: pointer;

      .slide {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 4px;
        background: #fff;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
        pointer-events: none;
      }
    }

    .alpha {
      position: relative;
      margin-left: 8px;
      cursor: pointer;

      .slide {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 4px;
        background: #fff;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
        pointer-events: none;
      }
    }
  }

  .color-show {
    margin-top: 8px;
    display: flex;

    .show {
      position: relative;
      flex: 1;

      .color {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    .sucker {
      width: 30px;
      fill: #9099a4;
      background: #2e333a;
      cursor: pointer;
      transition: all 0.3s;

      &:hover,
      &.active {
        fill: #24c7c4;
      }
    }
  }

  .color-type {
    margin-top: 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    .name {
      width: 60px;
      height: 30px;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #373333;
      background: #e0e0e0;
      font-family: Roboto;
      font-weight: 500;
      margin-right: -1px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      cursor: default;
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .value {
      height: 30px;
      padding: 0 12px;
      border: 0;
      color: #000;
      background: #f9f9f9;
      font-family: Roboto;
      letter-spacing: 0.5px;
      font-weight: 500;
      box-sizing: border-box;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

      * {

        &::-moz-selection,
        &::selection {
          background: rgba(36, 199, 196, 0.25) !important;
          color: #000 !important;
        }
      }
    }
  }

  .colors {
    padding: 0;
    margin-bottom: 24px;

    &.history {
      margin-top: 10px;
      border-top: 1px solid #202a32;
    }

    .item {
      position: relative;
      width: 16px;
      height: 16px;
      margin: 10px 0 0 10px;
      border-radius: 3px;
      box-sizing: border-box;
      vertical-align: top;
      display: inline-block;
      transition: all 0.1s;
      cursor: pointer;

      &:nth-child(8n + 1) {
        margin-left: 0;
      }

      &:hover {
        transform: scale(1.4);
      }

      .alpha {
        height: 100%;
        border-radius: 4px;
      }

      .color {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
      }
    }
  }
}

.selection {
  .item {
    display: inline-flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    font-family: Roboto;
    font-weight: 500;
    margin-bottom: 0;
    width: 89px;

    &.item-one {
      width: 31px;
      background: #f3f3f3;
      color: #24c7c4;
    }

    // &.item-two {
    //   width: 40%;
    // }
    // &.item-three {
    //   width: 40%;
    // }
  }

  .btn-selection {
    border: 0;
    font-family: Roboto;
    font-weight: 500;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 16px;
    width: 88px;
    line-height: 14px;
 
    &.btn-save-color {
      background: #24c7c4;
    }

    &.btn-cancel {
      background: #8d8d8d;
    }
  }
}

</style>
