<template>
  <div
    id="loadedColorPicker"
    class="app"
  >
    <div class="bg" :style="{ background: color }">
      <div class="cover">
        <transition name="fade" mode="out-in" appear>
          <color-picker
            theme="light"
            :color="color"
            @changeColor="changeColor"
            v-show="isVisible"
          />
        </transition>
      </div>
      
    </div>
    <button v-on:click="isVisible = !isVisible">Open/Close</button>
  </div>
</template>

<script>
import colorPicker from "./components/Color.vue";
// import Logo from "./components/Logo.vue";
// window.$ = require('jquery')
// window.JQuery = require('jquery')

function openLoadedColorPicker(hex, rgba, field) {
  console.log('openLoadedColorPicker('+hex+', '+rgba+', '+field+')');
  jQuery('#app').removeClass('d-none');
}

export default {
  components: {
    colorPicker
  },
  data() {
    return {
      theme: "light",
      color: null,
      isVisible: false
    };
  },
  methods: {
    changeColor(color) {
      console.log("clicked on color: " + color.rgba.toRgbaString());
      this.color = color.rgba.toRgbaString();
    }
  },
  mounted() {
    jQuery('#app').removeClass('d-none');
    jQuery('.minicolors-input-swatch').click(function (e) { 
      e.preventDefault();
      var inputValueHex = jQuery(this).parent().find('.minicolors-input').val();
      var inputValueRGBA = jQuery(this).parent().parent().find('.rgbatext').val();
      var inputValueParent = jQuery(this).parents('.acf-field.acf-field-rgba-color').attr('data-key');
      console.log(inputValueHex);
      console.log(inputValueRGBA);
      console.log(inputValueParent);
      openLoadedColorPicker(inputValueHex, inputValueRGBA, inputValueParent);
    });
  }
};
</script>

<style lang="scss">

@import "./theme.scss";

#app {
  display: block;
  position: absolute;
  top: 0;
  right: 20px;
  width: auto;
  max-width: 278px;
  box-sizing: content-box;
  .alpha {
    margin-top: 0;
  }
  .loaded-color-picker {
    border-radius: 0;
  }
  > .loaded-color-picker {
    border-radius: 0;
    border: 1px solid #eeeeee;
  }

  &.edit-theme.position-right {
    top: 218px;
    right: 48px;
    position: fixed;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
