$light:   #f0f0f0 !default;
$text-muted: rgba(255, 255, 255, 0.92) !default;
$dark:    #202a32 !default;
$darker:  #141f27 !default;
$mystirling-blue: #24c7c4 !default;
$mystirling-blue-dark: #20b0ae !default;
$mystirling-blue-darker: #1c9b99 !default;

$base-color: $dark;
$highlight-color: $mystirling-blue;
$notification-color: #CB4B16;
$action-color: #fd7e14;
